
@media only screen 
and (max-device-width : 800px) {
	.toolbarRicetta .x-title .x-innerhtml{
		font-size:  medium;
	}
	.x-img.x-img-background {
		width: 308px;
		height: 400px;
	}
}

@media only screen
and (min-device-width : 800px) {
	.x-container .x-panel .testoRicetta{
		font-size: large;
	}
	
	.x-img.x-img-background {
		width: 500px;
		height: 650px;
	}
}

